.results-intro {
    position: relative;
    height: 360px;
    overflow: hidden;
}

/* ФОТО ФОНОМ */
.bg-photo {
    position: absolute;
    inset: 0;
    background: url('/assets/photos/your-photo.jpg') center/cover no-repeat;
    filter: brightness(0.55);
    background-color: #363434;
}

/* БЛОК З ЛІНІЄЮ І ТЕКСТОМ */
.intro-overlay {
    position: relative;
    z-index: 1;
    max-width: 1400px;
    margin: 0 auto;
    padding: 120px 20px 0;
}

/* тонка лінія */
.intro-line {
    width: 460px;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 18px 0;
    margin-left: -20px;
}

.intro-title {
    margin: 0;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 3px;
}

.intro-text {
    max-width: 1200px;
    margin: 300px 0 0 0;
    font-family: "Futura";
    font-size: 20px;
    line-height: 1.7;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Button */
.make-appointment-button {
    margin-top: 50px;
    justify-self: end;
    padding: 12px 22px;
    background: black;
    border: none;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    color: #978D6E;
    font-family: 'FuturaBook';
    font-size: 16px;
    text-transform: lowercase;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: transform 150ms ease, opacity 150ms ease;
}

.make-appointment-button:hover {
    transform: translateY(-2px);
    background: rgba(0, 0, 0, 0.9);
    border-color: rgba(222, 188, 76, 0.9);
}


/* =====  BLOCK LAYOUT ===== */

.info-block {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.block-title {
    color: rgba(46, 27, 0, 0.808);
    font-family: "Jura";
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 40px;
    margin: 0 0 40px 0;
}

.case-body {
    display: flex;
    justify-content: space-around;
}
.case{
    gap: 20px;
}
.case .title {
    color: rgba(0, 0, 0, 0.808);
    font-family: "Jura";
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}

.case .img {
    height: 450px;
    width: auto;
}


/* текст */
.plain-text {
    margin: 40px 0 0 0;
    font-family: "FuturaBook";
    font-size: 21px;
    line-height: 1.7;
    color: #111;
}