@font-face {
    font-family: 'Expressa';
    src: url('./assets/fonts/Expressa Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotonda ';
    src: url('./assets/fonts/Rotonda-Medium.B2S6dovj.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parisienne';
    src: url('./assets/fonts/Pn parisienne fn.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jura';
    src: url('./assets/fonts/Jura-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/futura/FuturaCyrillicLight.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.colors{
    color: #D1C2A8;
    color: #DEBC4C;
    color: #947C2D;
    color: #79581C;
    color: #6A5131;
    color: #39302A;
    color: #000000;
}


h1 {
    font-family: 'Jura';
    font-size: 48;
}

h2 {
    font-family: 'Jura';
    font-size: 36;
}

h4 {
    font-family: 'Futura';
    font-size: 16;
}

h5 {
    font-family: 'Futura';
    font-size: 15;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}