<footer class="footer">
    <hr class="seperator-line">
    <div class="appointment-block">
        <div class="black-block">
            <h3>Make an</h3>
            <h3>Appointment</h3>
            <p>Address</p>
            <h4>Warsaw, Siedmiogrodzka 7/U1</h4>
            <p>Phone</p>
            <h4>+48-505-506-793</h4>
            <p>Mail</p>
            <h4>karodent@gmail.com</h4>
            <img src="" alt="insta-logo">
            <img src="" alt="tiktok-logo">
        </div>
        <div class="form-block">

        </div>
    </div>
</footer>